@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Langar', cursive;
}
canvas{
	background: #000;
}

#startGame{
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 50%;
	width: 60%;
	background: rgba( 255, 255, 255, 0.25 );
	box-shadow: 0 0 32px 0 rgba( 255, 255, 255, 0.37 );
	backdrop-filter: blur( 8.5px );
	-webkit-backdrop-filter: blur( 8.5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#start{
	height: 200px;
	width: 80%;
	border-radius: 30px;
	background: linear-gradient(45deg,#f6d912,#ff0000);
	color: #000;
	border: none;
	font-weight: 600;
	font-size: 1.1rem;
	cursor: pointer;
	box-shadow: 0 0 10px #f50;
	margin-bottom: 30px;
	outline: none;
}
p{
	color: #fff;
	margin-bottom: 10px;
}
h1{
	margin: 30px 0 0 0;
}
#startGame{
	display: flex;
}
span{
	font-size: 5rem;
	font-weight: 800;
	margin: 0;
	padding: 0;
	text-shadow: 0 0 20px #fff;
	color: #ff5500;

}
#score{
	margin: 0;
	padding: 10px 10px;
	position: fixed;
	font-size: 2rem;
	font-weight: 800;
	color: #fff;
}
#puse{
	position: absolute;
	top: 10px;
	right: 5px;
	background: transparent;
}
#btn{
	color: #fff;
	font-size: 2rem;
	background: transparent;
	border: none;
	height: 50px;
	width: 50px;
	outline: none;
	margin: 10px 10px;
}